/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
ul{
  background-color: rgb(0,255,0);
  list-style-type: none;
  margin: 0;
  padding: 0;
}


h1{
  font-style: italic;
  color: #000080;
}
h1:hover{
  font-style: italic;
  color: rgba(250,0,0,255);
}

